<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css" />
        <link rel="icon" 
            type="image/png" 
            href="Logomakr_1N2zqc.png">
        <title> About Zach </title>
    </head>
    <body>
        <header>
            <div class="nav-brand py-2">
                <img src="Logomakr_2G2XeL.png">
            </div>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">contact</a>
                </li>
            </ul>
        </header>
        <div class="container">
            <h1 class="title section">About Me</h1>
            <div class="row">
                <div class="col-7 my-3">
                    <div class="w-75 p-3 my-3 s fuzzy">Born and raised in Chicago, IL</div>
                    <div class="w-75 p-3 my-3 mx-auto text-center m">Spent four years trading in the futures market</div>
                    <div class="w-75 p-3 my-3 mr-0 ml-auto text-right s fuzzy">Big sports fan with a dangerous Cubs obsession</div>
                    <div class="w-75 p-3 my-3 mx-auto text-center m">Moved out to San Diego in June, 2017</div>
                    <div class="w-75 p-3 my-3 s fuzzy">Full time Web Developer</div>
                    <!-- <div class="w-75 p-3 my-3 mx-auto text-center m">Moved out to San Diego in June, 2017</div>
                    <div class="w-75 p-3 my-3 mr-0 ml-auto text-right s">Full time Web Developer</div> -->
                </div>
                <div class="col-1"></div>
                <div class="col-4 section mt-1">
                    <figure class="figure pt-4 prof-fig">
                        <img src="my pic.jpg" class="figure-img img-fluid rounded mb-0" alt="That's Me!">
                        <!-- <figcaption class="figure-caption text-right pr-1">I like to dress for success!</figcaption> -->
                    </figure>
                </div>
                <div class="col-12 section ">
                    <p class="para b mx-auto py-1 seventy">
                        I recently began my career as a web developer specializing in full stack Javascript. My favorite aspect of js is working on 
                        projects with the React library. I also really enjoy working with databases such as MongoDB and SQL because there are a lot of 
                        similarities to my background trading futures.  With my recent change, I bring a lot of passion to a career that I enjoy waking 
                        up to everyday.  Hopefully, I can share that passion with you.
                     </p>
                </div>
            </div>
        </div>
        <% include footer %>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </body>
</html>