<div class="section fp-auto-height">
    <div class="footer">
        <p class="para pt-2 mb-0">CONNECT WITH ME</p>
        <div class="nav justify-content-center">
            <span class="nav-item">
                <a class="nav-link" href="https://github.com/zscheck" target="_blank">
                    <img class="foot-img" src="https://image.flaticon.com/icons/svg/25/25231.svg" alt="GitHub">
                </a>
            </span>
            <span class="nav-item">
                <a class="nav-link" href="https://codepen.io/zscheck/pens/public/" target="_blank" data-container="body" data-toggle="tooltip" data-placement="top" data-trigger="hover" data-content="Code Pen">
                    <img class="foot-img" src="http://blog.codepen.io/wp-content/uploads/2012/06/Button-Fill-Black-Large.png" alt="CodePen">
                </a>
            </span>
            <span class="nav-item">
                <a class="nav-link" href="https://www.codewars.com/users/zscheck" target="_blank">
                    <img class="foot-img rounded" src="http://res.cloudinary.com/dadcxtkos/image/upload/v1482613986/logo1_qbj4bu.png" alt="CodeWars">
                </a>
            </span>
            <span class="nav-item">
                <a class="nav-link" href="/contact">
                    <img class="foot-img" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/4f/New-email-envelope-back-symbol-in-circular-outlined-button.svg/500px-New-email-envelope-back-symbol-in-circular-outlined-button.svg.png" alt="Contact">
                </a>
            </span>
        </div>
    </div>
</div>