<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link rel="stylesheet" href="css/style.css" />
        <link rel="icon" 
            type="image/png" 
            href="Logomakr_1N2zqc.png">
        <title> Zach's Portfolio </title>
    </head>
    <body id="home">
        <header>
            <div class="nav-brand py-2">
                <img src="Logomakr_2G2XeL.png">
            </div>
            <ul class="nav justify-content-end">
                <li class="nav-item">
                    <a class="nav-link" href="/">home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/about">about</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/profile">profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/contact">contact</a>
                </li>
            </ul>
        </header>
        <!-- begin section -->
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    <img class="rounded mx-auto rlogo" src="https://media.licdn.com/mpr/mpr/AAEAAQAAAAAAAAW9AAAAJDQ2NGExMjhmLTUyNTAtNGYzYS1hNDczLTI0MDU3OTdmMDE3Zg.png" alt="react">
                </div>
                <div class="col-6">
                    <div class="mr-0 ml-auto">
                        <img class="rounded mr-0 ml-auto nlogo" src="https://www.anychart.com/_design/img/upload/development-stack/node-js.png" alt="nodejs">
                    </div>
                </div>
            </div>
            <div id="centerStage" class="row">
                <div class="section aboutme py-3 mx-auto" data-anchor="aboutme">
                    <div class="opaque-bg animated fadeInDown">
                        <h1 class="hname"><span style="color:#c5c7bf"><%= person.firstName %></span><span style="color:#5d170c"><%= person.lastName %></span></h1>
                        <p><span id="holder">Full Stack Web-Developer</span></p>
                        <!-- <span class="blinking-cursor">|</span> -->
                    </div>
                </div>                
            </div>
            <div class="row bottom pb-2">
                <div class="col-6">
                    <img class="rounded mx-auto slogo" src="https://mongodb.github.io/node-mongodb-native/_static/logo-mongodb.png" alt="mongoDB">
                </div>
                <div class="col-6">
                    <img class="rounded mx-auto elogo" src="https://rishabh.io/recipes/img/004-express-js.png" alt="express">
                </div>
            </div>
        </div>
        <!-- end section -->
        <!-- begin section -->
        <% include footer %>
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </body>
</html>